.tabla{
	display: table;
	border: 3px solid #49ACE5;
	width: 720px;
	text-align: center;
	font-size: 45px;
	font-family: LuckiestGuy;
	color: #143040;
}

.fila{
  border: 3px solid #49ACE5;
	display: table-row;
	min-height: 72px;
	max-height: 72px;
}

.celda{
	display: table-cell;
	border: 3px solid #49ACE5;
	min-width: 72px;
	max-width: 72px;
	cursor:pointer; cursor:hand;
}


.imgHuecoLibre{
	min-height: 72px;
	max-height: 72px;
	background-image: url("../images/huecolibre.gif");
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
}

.tachado{	
	min-height: 72px;
	max-height: 72px;
	background-image: url("../images/cruz.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor:pointer; 
	cursor:hand;
}

@font-face {
font-family: "LuckiestGuy";
src: url("../LuckiestGuy.ttf") format("truetype");

}